node_modules
.angular
.docker
.electron
.envoy
!.envoy/envoy.yml
.eslint*
.firebase
.git
.github
.husky
.storybook
.vscode
android
apps
changelog
coverage
dist/apps/*-e2e
documentation
functions
!functions/package.json
!functions/package-lock.json
libs
tools
!tools/proto
*.log
commitlint*
.prettier
.protolint
.stylelint
capacitor.config.json
decorate-angular-cli.js
jest*
nx.json
tsconfig.base.json
tsconfig.compodoc.json
