node_modules
.docker
.electron
.envoy
.firebase
.git
.github
.husky
.storybook
.vscode
android
apps
changelog
coverage
dist/apps/*-e2e
documentation
functions
!functions/package.json
!functions/package-lock.json
libs
tools
!tools/proto
*.log
