**/*.html
**/*.ico
**/*.webmanifest
**/*.json
**/*.md
**/*.min.js
**/*.gql
**/*.yml
**/*.scss
**/jest.*.js
**/.eslintrc.*.js
**/.storybook/
**/.browserslistrc
**/.firebaserc
./decorate-angular-cli.js
node_modules/*
**/node_modules/*
**/generated/**
**/assets/**
.vscode/
.github/
.firebase/
.devops/
./documentation/
./dist/
./coverage/
./changelog/
./functions/
./libs/proto/**/*.js
./libs/proto/**/*.d.ts
