**/*.*
!**/*.ts
!**/*.js
**/.storybook/
**/jest.*.js
**/.eslintrc.*.js
./decorate-angular-cli.js
node_modules/*
**/node_modules/*
**/generated/**
**/assets/**
.vscode/
.github/
.firebase/
.devops/
./documentation/
./dist/
./coverage/
./changelog/
./functions/
libs/proto/**/*.js
libs/proto/**/*.d.ts
