**/*.*
!**/*.ts
!**/*.js
decorate-angular-cli.js
node_modules/*
**/node_modules/*
**/generated/**
**/assets/**
.docker/
.envoy/
.firebase/
.github/
.git/
.husky/
.vscode/
./documentation/
./dist/
./coverage/
./changelog/
./functions/
libs/proto/**/*.js
libs/proto/**/*.d.ts
