{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-prettier",
    "stylelint-prettier/recommended",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "indentation": 2,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "comment-empty-line-before": "always",
    "comment-whitespace-inside": "always",
    "custom-property-empty-line-before": "never",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "declaration-empty-line-before": "never",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "block-closing-brace-empty-line-before": "never",
    "font-family-name-quotes": "always-unless-keyword",
    "font-weight-notation": "named-where-possible",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-url-quotes": ["always", { "except": ["empty"] }],
    "length-zero-no-unit": true,
    "linebreaks": "unix",
    "max-empty-lines": 1,
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "no-empty-first-line": true,
    "no-eol-whitespace": true,
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "property-case": "lower",
    "rule-empty-line-before": ["always-multi-line", { "except": ["after-single-line-comment", "first-nested"] }],
    "selector-combinator-space-after": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "string-quotes": "single",
    "unit-case": "lower",
    "unicode-bom": "never",
    "value-keyword-case": "lower",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "value-list-max-empty-lines": 0
  }
}
