{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "color-hex-length": "long",
    "comment-empty-line-before": "always",
    "comment-whitespace-inside": "always",
    "custom-property-empty-line-before": "never",
    "declaration-empty-line-before": "never",
    "font-family-name-quotes": "always-unless-keyword",
    "font-weight-notation": "named-where-possible",
    "function-name-case": "lower",
    "function-url-quotes": [
      "always",
      {
        "except": [
          "empty"
        ]
      }
    ],
    "length-zero-no-unit": true,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "after-single-line-comment",
          "first-nested"
        ]
      }
    ]
  }
}