/* Angular Material Theme, and Typography customization */
  @import 'node_modules/@angular/material/_theming.scss';
  @import 'apps/nx-ng-starter/src/theming/material-colors.scss';

  /*
  *	Define a custom typography config that overrides font-family, and all levels.
  */
  $custom-typography: mat-typography-config(
    $font-family:	'Roboto, monospace, "Helvetica Neue", sans-serif',
    $display-4:		mat-typography-level(112px, 112px, 300),
    $display-3:		mat-typography-level(56px, 56px, 400),
    $display-2:		mat-typography-level(45px, 48px, 400),
    $display-1:		mat-typography-level(34px, 40px, 400),
    $headline:		mat-typography-level(24px, 32px, 400), // h1
    $title:			mat-typography-level(20px, 32px, 500), // h2
    $subheading-2:	mat-typography-level(16px, 28px, 400), // h3
    $subheading-1:	mat-typography-level(15px, 24px, 400), // h4
    $body-2:		mat-typography-level(14px, 24px, 500), // bolder body text
    $body-1:		mat-typography-level(14px, 20px, 400), // base body text
    $caption:		mat-typography-level(12px, 20px, 400), // smaller hint text
    $button:		mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:			mat-typography-level(inherit, 1.125, 400) // form input text
  );

  /*
  *	Include the common styles for Angular Material. Include this here so that you only
  *	have to load a single css file for Angular Material in your app.
  *	Be sure to include this mixin once!
  *	Custom typography config is passed to mat-core.
  */
  @include mat-core($custom-typography);

  // Define a custom light theme.
  $candy-app-primary: mat-palette($mat-green, 600);
  $candy-app-accent: mat-palette($mat-deep-orange, 500);
  $candy-app-warn: mat-palette($mat-red, 800);
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

  // Include the custom light theme styles.
  @include angular-material-theme($candy-app-theme);

  // Define an alternate dark theme.
  $unicorn-dark-primary: mat-palette($mat-deep-orange, 800);
  $unicorn-dark-accent: mat-palette($mat-yellow, 400);
  $unicorn-dark-warn: mat-palette($mat-orange, 300);
  $unicorn-dark-theme: mat-dark-theme($unicorn-dark-primary, $unicorn-dark-accent, $unicorn-dark-warn);

  /*
  *	Include the alternative theme styles inside of a block with a CSS class.
  *	This CSS class can be whatever is needed. Any component inside of an element with
  *	`.unicorn-dark-theme` will be affected by the alternate dark theme instead of the light theme.
  */
  .unicorn-dark-theme {
    @include angular-material-theme($unicorn-dark-theme);
  }
  /* Angular Material Theme, and Typography customization */

  /* Material Theme extension */
  /*
  *	imports and includes variables, and mixins:
  *	custom-selectors-colouring, custom-colouring-classes
  */
  @import 'apps/nx-ng-starter/src/theming/theming-extension.scss';
  /* Material Theme extension */

  /* Margins and padding */
  $boxOffset: 0.5em;
  $boxOffsetSmall: 0.25em;
  /* Margins and padding */

  /* Required in case of self hosting of material-design-icons */
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/MaterialIcons-Regular.woff2) format('woff2'),
      url(/MaterialIcons-Regular.woff) format('woff'),
      url(/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  /*
  *	classes for font-awesome icons
  *
  *	note: free plan includes only fab (font-awesome-brands) and fas (font-awesome-solid) groups
  */
  .material-icons-fab { // font-awesome brands
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  .material-icons-fas { // font-awesome solid
    // font-weight: normal; // this will break fas icons
    // font-style: normal; // this will break fas icons
    font-size: 19px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }
  }
  /*
  *	class for custom svg icons
  */
  .material-icons-svg {
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    &:hover {
      cursor: default;
    }

    svg {
      height: 50%;
      width: 50%;
      margin: 25%;
    }
  }

  /*
  *	additional customizations for icons inside anchors and buttons
  */
  a, button, mat-button-toggle {
    .material-icons, .material-icons-fab, .material-icons-fas, .material-icons-svg {
      &:hover {
        cursor: pointer;
      }
    }
  }
  /*
  *	show cursor when pointing icons in mat-menus if mat-menu-item is not disabled
  */
  mat-menu-content, .mat-menu-content {
    .mat-menu-item[aria-disabled="false"] > .material-icons,
    .mat-menu-item[aria-disabled="false"] > .material-icons-fab,
    .mat-menu-item[aria-disabled="false"] > .material-icons-fas,
    .mat-menu-item[aria-disabled="false"] > .material-icons-svg {
      &:hover {
        cursor: pointer;
      }
    }
  }
/* Required in case of self hosting of material-design-icons */
