<span fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary" fxFlex="0 1 auto">
    <button mat-icon-button (click)="appSidebar.toggle()">
      <img
        [ngStyle]="{ height: '75%', width: 'auto!important' }"
        src="/favicon.ico"
        alt="{{ appName }}"
        title="{{ appName }}"
      />
    </button>

    <span fxFlex="1 1 auto"></span>

    <button mat-button [fxHide.xs]="true" [fxHide.sm]="true">
      <mat-icon>help_outline</mat-icon> Help
    </button>
    <a
      mat-button
      [fxHide.xs]="true"
      [fxHide.sm]="true"
      href="https://cli.angular.io/reference.pdf"
      target="_blank"
    >
      <mat-icon>build</mat-icon> CLI Reference
    </a>
    <a
      mat-button
      [fxHide.xs]="true"
      [fxHide.sm]="true"
      href="https://material.angular.io/"
      target="_blank"
    >
      <mat-icon>change_history</mat-icon> Angular Material
    </a>
    <a
      mat-button
      [fxHide.xs]="true"
      [fxHide.sm]="true"
      href="https://material.io/icons/"
      target="_blank"
    >
      <mat-icon>info_outline</mat-icon> Material Icons
    </a>

    <button
      mat-icon-button
      [matMenuTriggerFor]="mobileMenuTop"
      [fxHide.md]="true"
      [fxHide.lg]="true"
      [fxHide.xl]="true"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenuTop="matMenu" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
      <button mat-menu-item><mat-icon>help_outline</mat-icon> Help</button>
      <a mat-menu-item href="https://cli.angular.io/reference.pdf" target="_blank">
        <mat-icon>build</mat-icon> CLI Reference
      </a>
      <a mat-menu-item href="https://material.angular.io/" target="_blank">
        <mat-icon>change_history</mat-icon> Angular Material
      </a>
      <a mat-menu-item href="https://material.io/icons/" target="_blank">
        <mat-icon>info_outline</mat-icon> Material Icons
      </a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container fxFlex="1 1 auto">
    <mat-sidenav
      #appSidebar
      mode="over"
      [opened]="sidebarOpened$ | async"
      (closedStart)="sidebarCloseHandler()"
    >
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile [routerLink]="['info']" (click)="appSidebar.close()">
          API info
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav>
    <mat-sidenav-content (swiperight)="swiperightHandler($event)">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="primary" fxFlex="0 1 auto">
    <button mat-icon-button (click)="appSidebar.toggle()">
      <mat-icon title="open sidenav" *ngIf="(sidebarOpened$ | async) === false">
        flip_to_front
      </mat-icon>
      <mat-icon title="open sidenav" *ngIf="sidebarOpened$ | async">
        flip_to_back
      </mat-icon>
    </button>

    <span fxFlex="1 1 auto"></span>

    <button mat-button [routerLink]="['info']" [fxHide.xs]="true" [fxHide.sm]="true">
      <mat-icon>touch_app</mat-icon> API info
    </button>
    <button mat-button [routerLink]="['']" [fxHide.xs]="true" [fxHide.sm]="true">
      <mat-icon>home</mat-icon> Home
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="mobileMenuBottom"
      [fxHide.md]="true"
      [fxHide.lg]="true"
      [fxHide.xl]="true"
    >
      <mat-icon>reorder</mat-icon>
    </button>

    <mat-menu #mobileMenuBottom="matMenu" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
      <a mat-menu-item [routerLink]="['info']"> <mat-icon>touch_app</mat-icon> API info </a>
      <a mat-menu-item [routerLink]="['']"> <mat-icon>home</mat-icon> Home </a>
    </mat-menu>
  </mat-toolbar>
</span>
