:host {
  display: block;
  width: 100%;
  height: 100vh;
}

.container {
  height: 100%;
}

.root-container {
  @extend .container;
}

.content-container {
  @extend .container;
  max-width: calc(100% - 2em);
  min-height: 100vh;
  max-height: 100vh;
  padding: 0 1em;
}
