{
  "extends": "../../.eslintrc.js",
  "rules": {
    "@angular-eslint/directive-selector": [
      "error",
      { "type": "attribute", "prefix": "nxNgStarter", "style": "camelCase" }
    ],
    "@angular-eslint/component-selector": [
      "error",
      { "type": "element", "prefix": "nx-ng-starter", "style": "kebab-case" }
    ]
  }
}
