<mat-sidenav-container fxFlex="1 1 auto">
  <mat-sidenav
    mode="over"
    [opened]="sidebarOpened$ | async"
    (closedStart)="sidebarCloseHandler()"
    (swipeleft)="sidebarCloseHandler()"
  >
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile [routerLink]="['info']" (click)="sidebarCloseHandler()">
        API info
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav>

  <mat-sidenav-content (swiperight)="swiperightHandler($event)">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
