# This workflow will do a clean install of node dependencies, build the source code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Docker

on:
  workflow_dispatch:
    inputs:
      docker:
        description: 'Dry run'
        required: true
        default: 'false'

defaults:
  run:
    shell: bash

jobs:
  docker-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Detect changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'apps/**'
              - 'libs/**'
              - 'tools/**'
              - 'tsconfig*'
              - 'nx.json'
              - 'angular.json'
              - 'package.json'
              - '.docker/**'
              - '.github/**'
              - '.dockerignore'

      - name: Use Node.js ${{ matrix.node-version }}
        if: steps.changes.outputs.src == 'true'
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Configure kernel (increase watchers)
        if: steps.changes.outputs.src == 'true'
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Get variables (yarn cache directory, commit hash)
        if: steps.changes.outputs.src == 'true'
        id: get-variables
        run: echo "::set-output name=yarncachedir::$(yarn cache dir)"; echo "::set-output name=commitsha::$(echo ${GITHUB_SHA})"

      - name: Workspace cache (npm, yarn, nx, jest)
        if: steps.changes.outputs.src == 'true'
        uses: actions/cache@v2
        id: workspace-cache # use this to check for `cache-hit` (`steps.workspace-cache.outputs.cache-hit != 'true'`)
        env:
          cache-name: workspace-cache
        with:
          path: |
            ~/.npm
            ${{ steps.get-variables.outputs.yarncachedir }}
            **/node_modules
            /tmp/nx
            /tmp/jest_rs
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}-workspace-${{ steps.get-variables.outputs.commitsha }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}-workspace-
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-
            ${{ runner.os }}-

      - name: Install global dependencies
        if: steps.changes.outputs.src == 'true'
        run: npm i -g typescript @angular/cli @nrwl/cli firebase-tools @compodoc/compodoc

      - name: Workspace integrity check
        if: steps.changes.outputs.src == 'true'
        run: yarn workspace:integrity-check

      - name: Install project dependencies
        if: steps.changes.outputs.src == 'true'
        run: yarn install --frozen-lockfile

      - name: Process dependencies with ngcc
        if: steps.changes.outputs.src == 'true'
        run: yarn ngcc

      - name: Unit test all (with code coverage)
        if: steps.changes.outputs.nx == 'true'
        run: |
          npx nx run-many --target=test --all --pass-with-no-tests --code-coverage=true --watch=false --run-in-band --ci
          ng run tools:coverage-stats
          cat ./tools/ts/UNIT_COVERAGE.md

      - name: Build all (production)
        if: steps.changes.outputs.src == 'true'
        run: |
          yarn generate:env:documentation
          npx nx run-many --target=build --all --configuration production

      - name: Build documentation (compodoc, unit coverage, e2e coverage)
        if: steps.changes.outputs.src == 'true'
        run: |
          yarn test:reports
          ng run tools:compodoc-build
          yarn generate:changelog
          yarn e2e:headless:report

      - name: Docker build apps
        if: steps.changes.outputs.src == 'true'
        run: |
          yarn docker:build api development
          yarn docker:build client development
          yarn docker:build elements development
          yarn docker:build documentation
