# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: publish-packages

on:
  repository_dispatch:
    types: [publish_packages]
  workflow_dispatch:
  workflow_call:
    inputs:
      dry-run:
        description: Used by premerge workflow to confirm the ability to publish packages without doing so
        type: string
        required: false
        default: 'false'

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name || github.ref }}.${{ github.sha }}.publish-packages
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest

    outputs:
      changes: ${{ steps.check-changes.outputs.changes }}
      origin: ${{ steps.check-origin.outputs.origin }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Check changes
        id: check-changes
        uses: ./.github/actions/check-changes

      - name: Check origin
        id: check-origin
        uses: ./.github/actions/check-origin

  publish-client-d3-charts:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packageCharts == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          compodoc: false
          cypress: false
          firebase-tools: false

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-d3-charts
          use-trusted-publishing: true
          dry-run: ${{ inputs.dry-run == 'true' }}

  publish-client-guided-tour:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packageGuidedTour == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          compodoc: false
          cypress: false
          firebase-tools: false

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-guided-tour
          use-trusted-publishing: true
          dry-run: ${{ inputs.dry-run == 'true' }}

  publish-client-pwa-offline:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packagePwaOffline == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          compodoc: false
          cypress: false
          firebase-tools: false

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-pwa-offline
          use-trusted-publishing: true
          dry-run: ${{ inputs.dry-run == 'true' }}

  publish-client-util-eliza:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packageEliza == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          compodoc: false
          cypress: false
          firebase-tools: false

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-util-eliza
          use-trusted-publishing: true
          dry-run: ${{ inputs.dry-run == 'true' }}

  publish-backend-diagnostics:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packageBackendDiagnostics == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          compodoc: false
          cypress: false
          firebase-tools: false

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: backend-diagnostics
          use-trusted-publishing: true
          dry-run: ${{ inputs.dry-run == 'true' }}
