# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: publish-packages

on:
  repository_dispatch:
    types: [publish_packages]
  workflow_call:
    inputs:
      dry-run:
        description: Used by premerge workflow to confirm the ability to publish packages without doing so.
        type: string
        required: false
        default: 'false'
      publish-client-d3-charts:
        description: Indicates that `client-d3-charts` library should be published.
        type: string
        required: false
        default: 'false'
      publish-client-guided-tour:
        description: Indicates that `client-guided-tour` library should be published.
        type: string
        required: false
        default: 'false'
      publish-client-pwa-offline:
        description: Indicates that `client-pwa-offline` library should be published.
        type: string
        required: false
        default: 'false'
      publish-client-util-eliza:
        description: Indicates that `client-util-eliza` library should be published.
        type: string
        required: false
        default: 'false'
      publish-backend-diagnostics:
        description: Indicates that `backend-diagnostics` library should be published.
        type: string
        required: false
        default: 'false'
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Run in dry-run mode'
        required: false
        default: 'false'
        type: string
      publish-client-d3-charts:
        description: Indicates that `client-d3-charts` library should be published.
        type: boolean
        required: false
        default: false
      publish-client-guided-tour:
        description: Indicates that `client-guided-tour` library should be published.
        type: boolean
        required: false
        default: false
      publish-client-pwa-offline:
        description: Indicates that `client-pwa-offline` library should be published.
        type: boolean
        required: false
        default: false
      publish-client-util-eliza:
        description: Indicates that `client-util-eliza` library should be published.
        type: boolean
        required: false
        default: false
      publish-backend-diagnostics:
        description: Indicates that `backend-diagnostics` library should be published.
        type: boolean
        required: false
        default: false

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.event.client_payload.ref || github.ref_name || github.ref }}.${{ github.sha }}.publish-packages
  cancel-in-progress: true

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest

    outputs:
      origin: ${{ steps.check-origin.outputs.origin }}
      dry-run: ${{ steps.variables.outputs.dry-run }}
      ref: ${{ steps.variables.outputs.ref }}
      publish-client-d3-charts: ${{ steps.variables.outputs.publish-client-d3-charts }}
      publish-client-guided-tour: ${{ steps.variables.outputs.publish-client-guided-tour }}
      publish-client-pwa-offline: ${{ steps.variables.outputs.publish-client-pwa-offline }}
      publish-client-util-eliza: ${{ steps.variables.outputs.publish-client-util-eliza }}
      publish-backend-diagnostics: ${{ steps.variables.outputs.publish-backend-diagnostics }}

    steps:
      - name: Variables
        id: variables
        env:
          DRY_RUN: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.dry_run == true || github.event.client_payload.dry_run == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.dry-run == true || inputs.dry-run == 'true')) ||
              (github.event_name == 'workflow_call' && (inputs.dry-run == true || inputs.dry-run == 'true')) ||
              false
            }}
          REF: >-
            ${{
              (github.event_name == 'repository_dispatch' && github.event.client_payload.ref) ||
              (github.event_name == 'workflow_dispatch' && github.ref_name) ||
              (github.event_name == 'workflow_call' && github.ref_name) ||
              github.ref
            }}
          PUBLISH_CLIENT_D3_CHARTS: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.publish-client-d3-charts == true || github.event.client_payload.publish-client-d3-charts == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.publish-client-d3-charts == true || inputs.publish-client-d3-charts == 'true')) ||
              false
            }}
          PUBLISH_CLIENT_GUIDED_TOUR: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.publish-client-guided-tour == true || github.event.client_payload.publish-client-guided-tour == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.publish-client-guided-tour == true || inputs.publish-client-guided-tour == 'true')) ||
              false
            }}
          PUBLISH_CLIENT_PWA_OFFLINE: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.publish-client-pwa-offline == true || github.event.client_payload.publish-client-pwa-offline == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.publish-client-pwa-offline == true || inputs.publish-client-pwa-offline == 'true')) ||
              false
            }}
          PUBLISH_CLIENT_UTIL_ELIZA: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.publish-client-util-eliza == true || github.event.client_payload.publish-client-util-eliza == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.publish-client-util-eliza == true || inputs.publish-client-util-eliza == 'true')) ||
              false
            }}
          PUBLISH_BACKEND_DIAGNOSTICS: >-
            ${{
              (github.event_name == 'repository_dispatch' && (github.event.client_payload.publish-backend-diagnostics == true || github.event.client_payload.publish-backend-diagnostics == 'true')) ||
              (github.event_name == 'workflow_dispatch' && (inputs.publish-backend-diagnostics == true || inputs.publish-backend-diagnostics == 'true')) ||
              false
            }}
        run: |
          echo "dry-run=$(echo ${DRY_RUN})" >> $GITHUB_OUTPUT
          echo "ref=$(echo ${REF})" >> $GITHUB_OUTPUT
          echo "publish-client-d3-charts=$(echo ${PUBLISH_CLIENT_D3_CHARTS})" >> $GITHUB_OUTPUT
          echo "publish-client-guided-tour=$(echo ${PUBLISH_CLIENT_GUIDED_TOUR})" >> $GITHUB_OUTPUT
          echo "publish-client-pwa-offline=$(echo ${PUBLISH_CLIENT_PWA_OFFLINE})" >> $GITHUB_OUTPUT
          echo "publish-client-util-eliza=$(echo ${PUBLISH_CLIENT_UTIL_ELIZA})" >> $GITHUB_OUTPUT
          echo "publish-backend-diagnostics=$(echo ${PUBLISH_BACKEND_DIAGNOSTICS})" >> $GITHUB_OUTPUT
          echo "### :rocket: Publish Packages" >> $GITHUB_STEP_SUMMARY
          echo "DRY_RUN: ${DRY_RUN}" >> $GITHUB_STEP_SUMMARY
          echo "REF: ${REF}" >> $GITHUB_STEP_SUMMARY
          echo "PUBLISH_CLIENT_D3_CHARTS: ${PUBLISH_CLIENT_D3_CHARTS}" >> $GITHUB_STEP_SUMMARY
          echo "PUBLISH_CLIENT_GUIDED_TOUR: ${PUBLISH_CLIENT_GUIDED_TOUR}" >> $GITHUB_STEP_SUMMARY
          echo "PUBLISH_CLIENT_PWA_OFFLINE: ${PUBLISH_CLIENT_PWA_OFFLINE}" >> $GITHUB_STEP_SUMMARY
          echo "PUBLISH_CLIENT_UTIL_ELIZA: ${PUBLISH_CLIENT_UTIL_ELIZA}" >> $GITHUB_STEP_SUMMARY
          echo "PUBLISH_BACKEND_DIAGNOSTICS: ${PUBLISH_BACKEND_DIAGNOSTICS}" >> $GITHUB_STEP_SUMMARY

      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.variables.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Check origin
        id: check-origin
        uses: ./.github/actions/check-origin

  publish-client-d3-charts:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && (needs.checks.outputs.dry-run == 'true' || needs.checks.outputs.publish-client-d3-charts == 'true') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.checks.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-d3-charts
          use-trusted-publishing: true
          dry-run: ${{ needs.checks.outputs.dry-run == 'true' }}

  publish-client-guided-tour:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && (needs.checks.outputs.dry-run == 'true' || needs.checks.outputs.publish-client-guided-tour == 'true') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.checks.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-guided-tour
          use-trusted-publishing: true
          dry-run: ${{ needs.checks.outputs.dry-run == 'true' }}

  publish-client-pwa-offline:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && (needs.checks.outputs.dry-run == 'true' || needs.checks.outputs.publish-client-pwa-offline == 'true') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.checks.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-pwa-offline
          use-trusted-publishing: true
          dry-run: ${{ needs.checks.outputs.dry-run == 'true' }}

  publish-client-util-eliza:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && (needs.checks.outputs.dry-run == 'true' || needs.checks.outputs.publish-client-util-eliza == 'true') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.checks.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: client-util-eliza
          use-trusted-publishing: true
          dry-run: ${{ needs.checks.outputs.dry-run == 'true' }}

  publish-backend-diagnostics:
    needs: checks
    if: ${{ needs.checks.outputs.origin == 'true' && (needs.checks.outputs.dry-run == 'true' || needs.checks.outputs.publish-backend-diagnostics == 'true') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.checks.outputs.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: NPM publish
        uses: ./.github/actions/npm-publish
        with:
          library-name: backend-diagnostics
          use-trusted-publishing: true
          dry-run: ${{ needs.checks.outputs.dry-run == 'true' }}
