# This workflow will do a clean install of node dependencies, build the source code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: trunk-on-push

on:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.head_ref }}.${{ github.sha }}
  cancel-in-progress: true

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Detect changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            nx:
              - '.storybook/**'
              - 'apps/**'
              - 'libs/**'
              - 'tools/**'
              - 'tsconfig*'
              - 'nx.json'
              - 'angular.json'
              - 'package.json'
              - 'yarn.lock'
              - 'babel.config.json'
              - 'functions/package.json'
              - 'functions/package-lock.json'
              - 'tools/generators/**'
              - 'tools/proto/**'
              - 'tools/ts/**'
              - 'tools/*.*'
              - 'jest*'
              - '.eslint*'
              - '.prettier*'
              - '.protolint.yaml'
              - '.stylelint*'
            electron:
              - '.electron/**'
              - 'index.js'
            mobile:
              - 'android/**'
              - 'capacitor.config.json'
            devops:
              - '.docker/**'
              - '.envoy/**'
              - '.github/**'
              - '.dockerignore'

      - name: Don't save Bash session history
        run: unset HISTFILE

      - name: Use Node.js ${{ matrix.node-version }}
        if: steps.changes.outputs.nx == 'true'
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Configure kernel (increase watchers)
        if: steps.changes.outputs.nx == 'true'
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Use yarn 1.22.17 (required for integrity check)
        if: steps.changes.outputs.nx == 'true'
        run: yarn set version 1.22.17 # this is mandatory, yarn v2 does not have integrity check which is needed for the pipeline

      - name: Get variables (yarn cache directory, commit hash)
        if: steps.changes.outputs.nx == 'true'
        id: get-variables
        run: echo "::set-output name=yarncachedir::$(yarn cache dir)"; echo "::set-output name=commitsha::$(echo ${GITHUB_SHA})"

      - name: Workspace cache (npm, yarn, nx, jest)
        if: steps.changes.outputs.nx == 'true'
        uses: actions/cache@v2
        id: workspace-cache # use this to check for `cache-hit` (`steps.workspace-cache.outputs.cache-hit != 'true'`)
        env:
          cache-name: workspace-cache
        with:
          path: |
            ~/.npm
            ${{ steps.get-variables.outputs.yarncachedir }}
            **/node_modules
            /tmp/nx
            /tmp/jest_rs
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}-workspace-${{ steps.get-variables.outputs.commitsha }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}-workspace-
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-
            ${{ runner.os }}-

      - name: Install global dependencies
        if: steps.changes.outputs.nx == 'true'
        run: npm i -g firebase-tools @compodoc/compodoc

      - name: Workspace integrity check
        if: steps.changes.outputs.nx == 'true'
        run: yarn workspace:integrity-check

      - name: Install project dependencies
        if: steps.changes.outputs.nx == 'true'
        run: yarn install --frozen-lockfile

      - name: Lint all
        if: steps.changes.outputs.nx == 'true'
        run: npx nx run-many --target=lint --all --parallel --max-parallel=2

      - name: Unit test all (with code coverage)
        if: steps.changes.outputs.nx == 'true'
        run: |
          npx nx run-many --target=test --all --pass-with-no-tests --code-coverage=true --watch=false --run-in-band --ci
          npx ng run tools:coverage-stats
          cat ./tools/ts/UNIT_COVERAGE.md

      - name: Build all (production)
        if: steps.changes.outputs.nx == 'true'
        run: |
          yarn generate:env:documentation
          npx nx run-many --target=build --all --configuration production

      - name: Build documentation (compodoc, unit coverage, e2e coverage)
        if: steps.changes.outputs.nx == 'true'
        run: |
          yarn test:reports
          npx ng run tools:compodoc-build
          yarn generate:changelog
          yarn e2e:headless:report

      - name: Deploy client
        if: steps.changes.outputs.nx == 'true'
        run: yarn firebase:deploy:ci:client || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      - name: Deploy elements
        if: steps.changes.outputs.nx == 'true'
        run: |
          bash tools/shell/generate-elements-bootstrap-script.sh ./dist/apps elements
          yarn firebase:deploy:ci:elements || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      - name: Deploy documentation
        if: steps.changes.outputs.nx == 'true'
        run: yarn firebase:deploy:ci:documentation || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      # This job works only with a paid plan like Blaze
      # - name: Deploy api
      #   if: ${{ steps.changes.outputs.nx == 'true' || steps.changes.outputs.devops == 'true' }}
      #   run: |
      #     npx nx build api --configuration firebase
      #     yarn firebase:deploy:ci:api || exit 1
      #   env:
      #     FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}
