# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: trunk

on:
  push:
    branches: [main]

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name }}.${{ github.sha }}.trunk
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest

    outputs:
      changes: ${{ steps.check-changes.outputs.changes }}
      origin: ${{ steps.check-origin.outputs.origin }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Check changes
        id: check-changes
        uses: ./.github/actions/check-changes

      - name: Check origin
        id: check-origin
        uses: ./.github/actions/check-origin

  trunk:
    needs: checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup environment
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        uses: ./.github/actions/setup-environment
        with:
          compodoc: true
          cypress: true
          firebase-tools: true

      - name: Lint shell
        if: fromJSON(needs.checks.outputs.changes).shelltools == 'true'
        run: |
          sudo apt install shellcheck
          yarn lint:shell

      - name: Lint ts
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        run: npx nx run-many --target lint --all --parallel --max-parallel 2

      - name: Lint html
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        run: npx nx run-many --target prettier-check --dryRun --all --parallel --max-parallel 2

      - name: Lint scss
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        run: npx nx run-many --target stylelint-check --dryRun --all --parallel --max-parallel 2

      - name: Unit test
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' }}
        run: |
          npx nx run-many --target test --all --pass-with-no-tests --code-coverage --run-in-band --ci
          npx nx run tools:coverage-stats
          cat ./UNIT_COVERAGE.md >> $GITHUB_STEP_SUMMARY

      - name: Build
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        run: |
          yarn generate:env:documentation
          npx nx run-many --target configure-env --all
          npx nx run-many --target build --all --configuration production
          npx nx run-many --target configure-env --all --reset

      - name: Documentation assets
        if: ${{ fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true' }}
        run: |
          yarn test:reports
          yarn generate:unit-test-coverage-index
          npx nx run tools:compodoc-build
          cp -r ./dist/compodoc ./dist/apps/documentation/assets
          yarn generate:changelog
          yarn e2e:report || exit 1
          yarn generate:e2e-test-report-index
          npx nx run documentation:build-storybook
          cp -r ./dist/storybook/documentation ./dist/apps/documentation/assets/storybook

      - name: Deploy client
        if: ${{ (fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true') && needs.checks.outputs.origin == 'true' }}
        run: yarn firebase:deploy:ci:client || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      - name: Deploy elements
        if: ${{ (fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true') && needs.checks.outputs.origin == 'true' }}
        run: |
          bash tools/shell/generate-elements-bootstrap-script.sh ./dist/apps elements
          yarn firebase:deploy:ci:elements || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      - name: Deploy documentation
        if: ${{ (fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true' || fromJSON(needs.checks.outputs.changes).storybook == 'true') && needs.checks.outputs.origin == 'true' }}
        run: yarn firebase:deploy:ci:documentation || exit 1
        env:
          FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      # This job works only with a paid plan such as Blaze (https://firebase.google.com/pricing/)
      # - name: Deploy api
      #   if: ${{ (fromJSON(needs.checks.outputs.changes).dependencies == 'true' || fromJSON(needs.checks.outputs.changes).src == 'true') && needs.checks.outputs.origin == 'true' }}
      #   run: |
      #     npx nx build api --configuration firebase
      #     yarn firebase:deploy:ci:api || exit 1
      #   env:
      #     FIREBASE_DEPLOY_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}

      - name: Cleanup
        run: rm -rf ./.env ./functions/.env

  publish-packages:
    needs: trunk
    if: ${{ needs.checks.outputs.origin == 'true' && fromJSON(needs.checks.outputs.changes).packages == 'true' }}
    uses: ./.github/workflows/publish-packages.yml
    secrets: inherit
